body {
	text-align: center;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	background-color: #ff33ff;

	margin: 0; 
	height: 100%; 
	overflow: hidden;

  background-image: url("https://hungarytoday.hu/wp-content/uploads/2018/02/18ps27.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

form {
	color: #1aff1a
}

h1 {
	color: #ff00c3;
}

.gods-mistake {

  text-align: center;	
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
   
}

.why {
	height: 142px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

@keyframes spin {
    from {
        transform:rotate(0deg);

    }
    to {
        transform:rotate(360deg);
    }
}


